
[type="number"] {
    width: 135px;
}

.header--container {
    background-color: #333;
}

.header--title {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin: 0.2em;
    padding: 10px 0;
    text-align: center;
}

.pixel-canvas--title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: left;
}

.pixel-canvas--create-grid {
    width: 100%;
}

.pixel-canvas--controls,
.pixel-canvas--colors {
    background-color: rgba(0, 0, 0, 0.03);
}

#size_picker label {
    margin-right: 15px;
}

#size_picker [type="color"] {
    width: 100px;
}

.pixel-canvas--colors {
    padding: 15px 15px 20px 15px;
}

.pixel-canvas--colors td,
.pixel-canvas--colors tr {
    border: none;
}

.pixel-canvas--colors tr {
    height: 20px;
}

.pixel-canvas--colors td {
    width: 20px;
}

#color_picker {
    width: 100px;
    height: 100px;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

#pixel_canvas,
#saved_pixel {
    margin: 20px auto 0 auto;
}

#pixel_canvas {
    background-color: #f1f1f1;
    cursor: url(images/cursors/brush.png), auto;
}
#pixel_canvas td,
#pixel_canvas tr {
    border: 1px solid #d1d1d1;
}

#pixel_canvas tr {
    height: 20px;
}

#pixel_canvas td {
    width: 20px;
}

#color_history {
    width: 100%;
}

.pixel-canvas--create-grid, .pixel-canvas--save-pixels {
    width: 100%;
    max-width: 200px;
    display: inline-block;
}

.pixel-canvas--preview-label, .pixel-canvas--label {
    text-align: center;
    margin: 10px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#saved_pixel {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#saved_pixel canvas {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100px !important;
    height: 100px !important;
    margin: 3px 10px;
}

#saved_pixel::-webkit-scrollbar {
    width: 1em;
}

#saved_pixel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid slategrey;
}
#clear_background {
    color: #fff;
}

.brush-mode {
    cursor: url(images/cursors/brush.png), auto;
}

#message_console {
    padding-left: 5px;
    background-color: #333;
    color: rgba(255,255,255,0.8);
    font-family: 'roboto';
    line-height: 28px;
    min-height: 28px;
    letter-spacing: 0.3px;
}
.error-message {
    border-left: 10px solid #ff0000;
}
.success-message {
    border-left: 10px solid #5cb85c;
}
.warning-message {
    border-left: 10px solid #ffcb00;
}
.normal-message {
    border-left: 10px solid #337ab7;
}
footer {
    text-align: center;
}